.header{
    border: 1px solid red;
    position: fixed;
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    padding: 0 24px 0 24px;
}

.main {
    border: 1px solid orange;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    width: 350px;
    border: 1px solid blue;
    padding: 24px;
}

.feed {
    border: 1px solid yellowgreen;
    width: 100%;
    padding: 24px;
}